.footnotes :target {
  background-color: #efefef;
}

.footnotes li{
	font-size: 0.75rem;
	line-height: 1.5;
}

.footnotes a{
	margin-left: 0.25em;
}

sup a{
	font-size: 75%;
	padding-left: 0.2em;
	margin-right: 0.2em;
}
