$nav-height: 4rem;

$serif-stack: "Source Serif", Georgia, "Times New Roman", serif;
$sans-stack: "TT Lakes", Helvetica, Arial, sans-serif;
$mono-stack: "Source Code", "Consolas", "Monaco", "Liberation Mono", Menlo, Courier, monospace;

$color-black: rgba(0,0,0,1);
$var-index-bg-1: #efefef;
$var-index-bg-2: white;
$var-index-body-color-1: #010101;

$var-color-bg-1: #263238;
$var-color-bg-2: #263238;
$var-color-bg-gradient-angle: 20;
$var-color-text: rgba(0,0,0,0.75);
$var-color-article-bg: #263238;
$var-color-headings: #00BCD4;
$var-color-body: white;
$var-color-nav-text: white;
$var-color-border: #00BCD4;